.input-container {
    color: #fff;
    display: flex;
    text-align: left;
    margin: 20px 0 0 0;
}

.input-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.input-item input {
    padding: 5px 10px;
}

.input-item select {
    text-align: center;
    width: 70%;
    height: 35px;
    background-color: white;
    border: 1px solid #ccc;
}